{% extends "layout.html" %}
{% block content %}
        <h1>What Game Chat is all about</h1>
	<P>Hello and Welcome to Game Chat! This is a place for gamers to come together and discuss all things gaming </p>

	<p>The main reason I decided to create game chat is so that gamers have a platform to share their voice, wheather it's a good review on a new game or an angry rant about the current state of one of their favourite games I wanted everyone to be heard equally.</p>

	<h1>About Me</h1>
	<p>My name is Rory Mackintosh, the creator of this website. I have always loved games ever since I was a child and it has been my hobby ever since. I wanted a place where people could socialise about games while also being able to voice their opinions on certain gaming matters. I always loved the communities gaming can create and I have always wanted to expand upon that aspect of gaming as much as possible. I believe with this website gamers all over the world will be able to come together to bond and socialise about all sorts of diffrent gaming matters.</p>

	<h1>My Personal Favourites</h1>
	<p>I enjoy so many diffrent generes of games that it is often hard to pick favourites. After a long time of thinking I have decided upon a few personal favourites of mine I would like to share with all you reader. Great story games have alwasy been a personal favourite of mine and one game that stands out above the rest has to The Last Of Us Part 1 The story telling in this game is unmathced with it's phenominal performances by the voice actors to the great world building it crafts it is truly unmatched.</p>
	
	<p>Another favourite genre of mine are multiplayer games that can be played with a large friend group. Some of my best memories happen on the quiet nights me and my friends are able to relax and play a few rounds of our favourite multiplayer games. A game that is most noteable from this genre is Overwatch me and my friends have been hooked on this game since back in 2016 and still play it to this day any chance we get.</p>
{% endblock content%}
